<link rel="stylesheet" href="/stylesheets/partials.css" />
<nav>
  <div class="nav-links">
    <div class="authlink">
      <img src="https://i.imgur.com/1598iuk.png" 
        alt="Club Logo">
    </div>

    <div class="nav-links">
      <% if(user) { %>
        <a class="authlink" href="/users/<%= user._id %>/golfs">My Games</a>
        <a class="authlink" href="/users/<%= user._id %>/users">Explore Your Community</a>
        <a class="authlink" href="/auth/sign-out">Sign Out</a>
      <% } else { %>
        <a class="authlink" href="/auth/sign-in">Sign In</a>
        <a class="authlink" href="/auth/sign-up">Sign Up</a>
      <% } %>
    </div>
  </div>
</nav>
