<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Add a New Game</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Add a New Game</h1>
<form action="/users/<%= user._id %>/golfs" method="POST">
    <label for="course">Course:</label>
    <input type="text" name="course" id="course" />
  
    <label for="score">Score:</label>
    <input type="number" name="score" id="score" />

    <label for="holes">Holes Played:</label>
    <input type="number" name="holes" id="holes" />
  
    <label for="notes">Notes:</label>
    <textarea name="notes" id="notes"></textarea>
  <div>
    <label for="difficulty">Difficulty:</label>
    <select id="difficulty" name="difficulty">
      <option value="none">None</option>
      <option value="easy">Easy</option>
      <option value="medium">Medium</option>
      <option value="hard">Hard</option>
      <option value="never again">Never Again!</option>
    </select>
  </div>
    <button type="submit">Add Game</button>
  </form>
  </body>
</html>
