.logo-container {
  display: flex;
  align-items: right;
}

.logo-container img {
  height: 100px; 
  width: auto;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 700px;
  height: 55px;
}

.authlink {
  text-decoration: none;
  margin: 0 15px;
  color: black; 
  font-weight: bold;
}

.authlink img {
  height: 100px; 
  width: auto;
  display: block; 
  margin: 0 auto; 
}
