@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* styling background for all pages  */
body {
    font-family: 'Fira Sans', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color:  #e0f2e9;
  }
 
/* styling for main page where you click to sign in or sign up  */
.index-body {
  background-image: url('https://cdn.pixabay.com/photo/2020/07/10/07/29/golf-5389839_960_720.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100vw;
  color: black;
}

.main-header {
  font-weight: bold;
  color: black;
  text-align: center;
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 5.6em;
  width: max-content; 
  display: flex;
  justify-content: center;
}


.subheader {
  margin: 0 20px;
  font-size: 2.6em;
  color: black;
  text-align: center;
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;
  margin: auto;
  width: max-content; 
  justify-content: center;
}

.auth-links {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  margin: 0 80px 0 0;
  height: 100%;
}

.signup-link,
.signin-link {
    text-decoration: none;
    font-size: 1.5em;
    padding: 10px 20px;
    border-radius: 8px;
    width: 12em;
    text-align: center;
    font-weight: bold;
}

.signup-link {
    background-color: #007700;
    color: white;
    margin-bottom: 15px;
    border: 2px solid #005500;
}

.signup-link:hover {
    background-color: #009900;
}

.signin-link {
    background-color: #007700;
    color: white;
    border: 2px solid #005500;
}

.signin-link:hover {
    background-color: #009900;
}

@media (max-width: 900px) {
  .main-header {
    font-size: 1.8em; 
    top: 12%;
    text-align: center;
  }

  .subheader {
    font-size: 1.8em;
    top: 28%;
    align-self: center;
    margin-left: 0;

  }

  .signup-link,
  .signin-link {
    width: 8em; 
    font-size: .5em;
  }
}
/* end of styling for main home page */


/* style sheets for the sign in and sign up page  */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh; 
  background-color: #e8f5e9;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.image-container img {
  width: 100%; 
  height: 100vh; 
  object-fit: cover; 
}

h1 {
  color: #124116; 
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 25em;
  height: auto;
  background-color: white; 
  padding: 30px 40px 30px 40px;
  border-radius: 12px;
  border: 2px solid #124116;
  font-weight: bold;
  color: #124116; 
}

input {
  border: 3px solid #4a7c59;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2em;
  background-color: #f8fff5;
  color: solid black; 
  font-weight: bold;
}

button {
  padding: 15px;
  background-color: #2e6b3f; 
  color: white;
  border-radius: 25px;
  border: none;
  margin: 25px 0;
  font-size: 1.1em;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #1d4727;
}

.logo-container {
  position: absolute;
  top: 5%;
  left: 0;
  right: 0;
  text-align: center;
}

.logo-container img {
  width: 200px;
  height: auto;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 20px;
  }
  
  .image-container {
    display: none;
  }

  form {
    width: 90%;
  }
}


/* end of style for sign in page and sign up page */

/* styling for golfs/index.ejs page  */

.all-golfs-body {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  background-color: #e8f5e9;
  min-height: 100vh;
  padding: 40px 20px;
}
.user-info {
  font-size: 1.2em;
  color: #124116;
  margin-bottom: 20px;
}


.content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
}



.left-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header-row {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.all-golfs-header {
  font-size: 2.2em;
  color: #124116;
  font-weight: bold;
}

.add-golf-link {
  background-color: #166534;
  color: white;
  border-radius: 20px;
  padding: 8px 20px;
  text-decoration: none;
  font-weight: bold;
}

.add-golf-link:hover {
  background-color: #0d3a1a;
}

.game-list {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  width: 100%;
}

.game-list li a {
  display: block;
  text-decoration: none;
  color: #124116;
  background-color: #f8fff5;
  border-radius: 20px;
  padding: 15px;
  margin-bottom: 8px;
  font-weight: bold;
  text-align: center;
  width: 85%;
}

.game-list li a:hover {
  background-color: #2e6b3f;
  color: white;
}

.right-section {
  flex: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.golf-image {
  width: 100%;
  max-width: 750px; 
  border-radius: 12px;
}


@media (max-width: 900px) {
  .content-container {
    flex-direction: column;
    align-items: center;
  }

  .left-section, .right-section {
    width: 100%;
    align-items: center;
  }

  .header-row {
    flex-direction: column;
    align-items: center;
  }

  .add-golf-link {
    margin-top: -20px;
  }

  .golf-image {
    max-width: 90%;
    margin-top: auto;
  }
}

/* style ending of index.ejs for golfs */

.new-body, .edit-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  background-color: #e0f2e9;
}


.new-body > form, 
.edit-body > form {
  background-color: white; 
  padding: 30px;
  border-radius: 12px;
  width: 100%;
  max-width: 480px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-weight: bold;
  color: #0e3a14; 
  font-size: 1.2em;
}

input, textarea, select {
  border: 2px solid #24522d;
  border-radius: 8px;
  padding: 12px;
  font-size: 1.1em;
  background-color: #f0fdf4;
  color: #0e3a14;
}


button {
  padding: 14px;
  background-color: #0e3a14; 
  color: white;
  border-radius: 20px;
  border: none;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #09250e; 
}

@media (max-width: 600px) {
  .new-body > form, 
  .edit-body > form {
    width: 90%;
  }

  label {
    font-size: 1.1em; 
  }
}

/* ending of styling new and update pages */