<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Community Page</title>
  </head>
  <body>

    <%- include('../partials/_navbar.ejs') %>

    <div class="all-golfs-body">
      <div class="content-container">
        
        <div class="left-section">
          <div class="header-row">
            <h1 class="all-golfs-header">Explore Our Community</h1>
          </div>
          <ul class="game-list">
            <% users.forEach(communityUser => { %>
              <li>
                <a href="/users/<%= user._id %>/users/<%= communityUser._id %>">
                  <%= communityUser.username %>
                </a>
              </li>
            <% }) %>
          </ul>
        </div>
        <div class="right-section">
          <img src="https://img.freepik.com/free-photo/scene-with-friends-golf-course_23-2150551320.jpg?t=st=1740609057~exp=1740612657~hmac=edba16237687288b8ba78eb5a455b559920905f2accec2c3e03069ba059c9a60&w=2000" 
               alt="Golfers celebrating" 
               class="golf-image">
        </div>
      </div>
    </div>

  </body>
</html>